<div class="card mb-2" *ngFor="let item of items">
  <div class="card-body">
    <h5 class="card-title">
      <a [routerLink]="['/todo', item.id]">
        {{ item.value }}
      </a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ item.created | date: 'hh.MM.yyyy HH:mm' }}
    </h6>
    <button (click)="moveToDone(item)">
      Done
    </button>
  </div>
</div>

<div *ngIf="doneItems.length > 0">
  Done items:

  <div class="card mb-2 done" *ngFor="let item of doneItems">
    <div class="card-body">
      <h5 class="card-title">{{ item.value }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ item.created | date: 'hh.MM.yyyy HH:mm' }}
      </h6>
    </div>
  </div>
</div>
