<div class="row">
  <div class="col-md-6">
    <h1>Todos</h1>
    <div class="todolist not-done">
      <ul id="sortable" class="list-unstyled">
        <li class="ui-state-default" *ngFor="let item of items">
          <div class="checkbox">
            <label>
              <input type="checkbox" (change)="moveToDone(item)" /><a
                [routerLink]="['/todo', item.id]"
              >
                {{ item.value }}
              </a></label
            >
          </div>
        </li>
      </ul>
      <div class="todo-footer">
        <strong><span class="count-todos"></span></strong>
        {{ items.length }} items
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h1>Already Done</h1>
    <ul class="list-unstyled">
      <li *ngFor="let item of doneItems">
        {{ item.value }}
        <button class="btn btn-default" (click)="deleteItem(item)">
          <span class="fa fa-trash"></span>
        </button>
      </li>
    </ul>
  </div>
</div>
