<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-5">
            <h6 class="mb-3">Awesome Todo List</h6>

            <app-todo-form (todoAdded)="addTodo($event)"></app-todo-form>
            <app-todo-list
              [items]="items"
              (delete)="deleteTodo($event)"
              (markAsDone)="markAsDone($event)"
            ></app-todo-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
